.gallery .animal-card h3 {
  font-weight: 100;
  font-family: math;
  color: #4e017c;
}

.gallery .animal-card p {
  font-weight: 100;
  font-family: math;
  color: #1b9201;
}
.gallery {
  margin-inline: 1%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.animal-card {
  margin-top: 1%;
  width: 200px;
  margin-inline: 2%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.animal-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
