.carouselExample{
    height: 350px;
}

.carousel-inner{
    height: 350px;
}

.carousel-item img {
    height: 350px;
}


h1{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #0786c4;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    font-family: monospace
}